gdserver/db/
gdserver/logs/
gdserver/ebin/
gdserver/nbproject/
gdserver/tmp/
gdserver/goroddorog.access
gdserver/report.log
gdserver/erl_crash.dump
gdserver/manifest.mf
gdserver/goroddorog.auth
gdserver/res.txt
gdserver/erlang-solutions_1.0_all.deb
gdserver/from_server/
gdserver/log.txt

tsclient/out/
tsclient/tsclient.iws
controls/controls.iml
tsclient/287e432714c31e.zip
tsclient/projectFilesBackup/
tsclient/projectFilesBackup1/
tsclient/projectFilesBackup2/
tsclient/tsclient.iml
tsclient/tsclient.ipr
tsclient/.idea/
tsclient/bin/

.gitignore.swp
gdserver/cfg/server.cfg~
tsclient/src/assets/gui/screens/city.zip

data/