gdserver/db/
gdserver/logs/
gdserver/ebin/
gdserver/nbproject/
gdserver/tmp/
gdserver/goroddorog.access
gdserver/report.log
gdserver/erl_crash.dump
gdserver/manifest.mf
gdserver/goroddorog.auth
gdserver/res.txt
gdserver/erlang-solutions_1.0_all.deb
gdserver/from_server/
gdserver/log.txt

tsclient/out/
tsclient/tsclient.iws
controls/controls.iml
tsclient/287e432714c31e.zip
tsclient/projectFilesBackup/
tsclient/projectFilesBackup1/
tsclient/projectFilesBackup2/
tsclient/tsclient.iml
tsclient/tsclient.ipr
tsclient/.idea/
tsclient/bin/
tsclient/src/assets/gui/screens/city/
tsclient/src/assets/gui/screens/city/arena1.png
tsclient/src/assets/gui/screens/city/arena2.png
tsclient/src/assets/gui/screens/city/bank1.png
tsclient/src/assets/gui/screens/city/bank2.png
tsclient/src/assets/gui/screens/city/carshop1.png
tsclient/src/assets/gui/screens/city/carshop2.png
tsclient/src/assets/gui/screens/city/gas1.png
tsclient/src/assets/gui/screens/city/gas2.png
tsclient/src/assets/gui/screens/city/house1.png
tsclient/src/assets/gui/screens/city/house2.png
tsclient/src/assets/gui/screens/city/map1_bkg.jpg
tsclient/src/assets/gui/screens/city/map2_bkg.jpg
tsclient/src/assets/gui/screens/city/shop1.png
tsclient/src/assets/gui/screens/city/shop2.png
tsclient/src/assets/gui/screens/city/station1.png
tsclient/src/assets/gui/screens/city/station2.png

.gitignore.swp
gdserver/cfg/server.cfg~
tsclient/src/assets/gui/screens/city.zip

data/