
<?xml version="1.0" encoding="UTF-8"?>
<config>
  <host>188.93.18.91</host>
  <port>9000</port>
  <policyPort>8999</policyPort>
  <serverUrl>http://188.93.18.91/</serverUrl>

  <serverUrlList>

    <url>http://188.93.17.91/</url>
  </serverUrlList>

  <defaultRoutePath>data/routes/raceKrestovskyostrov.xml</defaultRoutePath>
  <defaultCarPath>data/cars/Dodge Viper SRT 10.xml</defaultCarPath>
  <replayMode>off</replayMode>
  <loadFromPHPServer>false</loadFromPHPServer>

  <logLevel>0</logLevel>
  <drawDebugData>false</drawDebugData>
  <dynamicEngineQuantLocal>25</dynamicEngineQuantLocal>
  <dynamicEngineQuantRemote>25</dynamicEngineQuantRemote>
  <carStatePosError>3</carStatePosError>
  <carStateAngleError>1</carStateAngleError>

  <carStateIdleInterval>2000</carStateIdleInterval>
  <carStateMinInterval>125</carStateMinInterval>
  <filterCoeff>0.1</filterCoeff>

  <radio>http://188.93.17.232:2007/1</radio>
  <vkontakteAPIUrl>http://api.vkontakte.ru/api.php</vkontakteAPIUrl>

</config>
